:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Google Drive CSS Variables */
  --drive-dimensions-doclist-row-comfortable-height: 48px;
  --drive-dimensions-doclist-row-cozy-height: 40px;
  --drive-dimensions-doclist-row-compact-height: 32px;
  --companion-shell-width: 300px;
  --copylink-button-hover-bg-color: rgb(232,234,237);
  --copylink-button-icon-color: rgb(95,99,104);
  --dismiss-button-hover-bg-color: rgb(232,234,237);
  --dismiss-button-icon-color: rgb(95,99,104);
  --popout-button-hover-bg-color: rgb(232,234,237);
  --popout-button-icon-color: rgb(95,99,104);
  --card-link-title-color: var(--gm3-sys-color-primary,#0b57d0);
  --card-title-background-color: #fff;
  --card-title-color: rgb(32,33,36);
  --card-border-color: rgb(232,234,237);
  --vsc-domain: "drive.google.com";
  --dtx-state-hover: rgba(95,99,104,0.8);
  --dtx-state-focus: rgba(95,99,104,0.12);
  --dtx-state-press: rgba(95,99,104,0.12);
  --dtx-drop-target: rgba(194,231,255,0.4);

  /* Typography Variables */
  --dt-display-1-font: 400 3.5625rem/4rem "Google Sans";
  --dt-display-1-spacing: 0;
  --dt-display-large-font: 400 3.5625rem/4rem "Google Sans";
  --dt-display-large-spacing: 0;
  --dt-display-medium-font: 400 2.8125rem/3.25rem "Google Sans";
  --dt-display-medium-spacing: 0;
  --dt-display-small-font: 400 2.25rem/2.75rem "Google Sans";
  --dt-display-small-spacing: 0;
  --dt-headline-large-font: 400 2rem/2.5rem "Google Sans";
  --dt-headline-large-spacing: 0;
  --dt-headline-medium-font: 400 1.75rem/2.25rem "Google Sans";
  --dt-headline-medium-spacing: 0;
  --dt-headline-small-font: 400 1.5rem/2rem "Google Sans";
  --dt-headline-small-spacing: 0;
  --dt-title-large-font: 400 1.375rem/1.75rem "Google Sans";
  --dt-title-large-spacing: 0;
  --dt-headline-6-font: 400 1.375rem/1.75rem "Google Sans";
  --dt-headline-6-spacing: 0;
  --dt-title-medium-font: 500 1rem/1.5rem "Google Sans Text";
  --dt-title-medium-spacing: 0;
  --dt-title-small-font: 500 0.875rem/1.25rem "Google Sans Text";
  --dt-title-small-spacing: 0;
  --dt-subtitle-1-font: 500 1rem/1.5rem "Google Sans Text";
  --dt-subtitle-1-spacing: 0;
  --dt-label-large-font: 500 0.875rem/1.25rem "Google Sans Text";
  --dt-label-large-spacing: 0;
  --dt-label-medium-font: 500 0.75rem/1rem "Google Sans Text";
  --dt-label-medium-spacing: 0;
  --dt-label-small-font: 500 0.6875rem/1rem "Google Sans Text";
  --dt-label-small-spacing: 0.0090909091em;
  --dt-label-small-transform: none;
  --dt-body-large-font: 400 1rem/1.5rem "Google Sans Text";
  --dt-body-large-spacing: 0;
  --dt-body-medium-font: 400 0.875rem/1.25rem "Google Sans Text";
  --dt-body-medium-spacing: 0;
  --dt-body-small-font: 400 0.75rem/1rem "Google Sans Text";
  --dt-body-small-spacing: 0.0083333333em;

  /* Corner Radius Variables */
  --dt-corner-banner: 0.5rem;
  --dt-corner-button: 6.25rem;
  --dt-corner-card: 0.75rem;
  --dt-corner-card-thumbnail: 0.25rem;
  --dt-corner-chip: 0.5rem;
  --dt-corner-chip-avatar: 6.25rem;
  --dt-corner-chip-suggestive: 0.5rem;
  --dt-corner-dialog: 0.5rem;
  --dt-corner-dialog-anchored: 0.5rem;
  --dt-corner-fab: 1rem;
  --dt-corner-fab-large: 1.75rem;
  --dt-corner-field: 0.25rem;
  --dt-corner-field-filled: 0.25rem 0.25rem 0 0;
  --dt-corner-field-search: 0.25rem;
  --dt-corner-icon-button: 6.25rem;
  --dt-corner-landmark: 1rem;
  --dt-corner-menu: 0.25rem;
  --dt-corner-mole: 1rem;
  --dt-corner-nav-drawer: 6.25rem;
  --dt-corner-region: 0.75rem;
  --dt-corner-tile: 1rem;

  /* Color System Variables */
  --dt-on-background: #1f1f1f;
  --dt-on-background-secondary: #5e5e5e;
  --dt-background: #fff;
  --dt-on-surface: #1f1f1f;
  --dt-inverse-surface: #303030;
  --dt-on-surface-secondary: #5e5e5e;
  --dt-on-surface-variant: #444746;
  --dt-surface-variant: #e1e3e1;
  --dt-inverse-on-surface: #f2f2f2;
  --dt-surface: #fff;
  --dt-surface-tint: #6991d6;
  --dt-shadow-elevation-1: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  --dt-shadow-elevation-2: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  --dt-shadow-elevation-3: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
  --dt-shadow-elevation-4: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
  --dt-shadow-elevation-5: 0px 8px 10px -6px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
  --dt-surface-container-lowest: #fff;
  --dt-surface-container-low: #f8fafd;
  --dt-surface-container: #f0f4f9;
  --dt-surface-container-high: #e9eef6;
  --dt-surface-container-highest: #dde3ea;
  --dt-surface-dim: #d3dbe5;
  --dt-surface-bright: #fff;
  --dt-scrim: rgba(0,0,0,0.32);
  --dt-scrim-2x: rgba(0,0,0,0.64);

  /* Primary Color Variables */
  --dt-on-primary-container: #0842a0;
  --dt-primary-container-icon: #0842a0;
  --dt-primary-container-link: #0842a0;
  --dt-primary: #0b57d0;
  --dt-primary-action: #0b57d0;
  --dt-primary-action-stateful: #0b57d0;
  --dt-primary-outline: #0b57d0;
  --dt-primary-action-state-layer: #0b57d0;
  --dt-primary-container: #d3e3fd;
  --dt-on-primary: #fff;
  --dt-primary-icon: #fff;
  --dt-primary-link: #fff;

  /* Secondary Color Variables */
  --dt-on-secondary-container: #004a77;
  --dt-secondary-container-icon: #004a77;
  --dt-secondary-container-link: #004a77;
  --dt-secondary: #00639b;
  --dt-secondary-action: #00639b;
  --dt-secondary-action-stateful: #00639b;
  --dt-secondary-outline: #00639b;
  --dt-secondary-action-state-layer: #00639b;
  --dt-secondary-container: #c2e7ff;
  --dt-on-secondary: #fff;
  --dt-secondary-icon: #fff;
  --dt-secondary-link: #fff;

  /* Tertiary Color Variables */
  --dt-on-tertiary-container: #0f5223;
  --dt-tertiary-container-icon: #0f5223;
  --dt-tertiary-container-link: #0f5223;
  --dt-tertiary: #146c2e;
  --dt-tertiary-action: #146c2e;
  --dt-tertiary-action-stateful: #146c2e;
  --dt-tertiary-outline: #146c2e;
  --dt-tertiary-action-state-layer: #146c2e;
  --dt-tertiary-container: #c4eed0;
  --dt-on-tertiary: #fff;
  --dt-tertiary-icon: #fff;
  --dt-tertiary-link: #fff;

  /* Neutral Color Variables */
  --dt-on-neutral-container: #1f1f1f;
  --dt-neutral-container-icon: #1f1f1f;
  --dt-neutral-container-link: #1f1f1f;
  --dt-neutral: #474747;
  --dt-neutral-action: #1f1f1f;
  --dt-neutral-action-stateful: #1f1f1f;
  --dt-neutral-outline: #1f1f1f;
  --dt-neutral-action-state-layer: #1f1f1f;
  --dt-neutral-container: #e3e3e3;
  --dt-on-neutral: #fff;
  --dt-neutral-icon: #fff;
  --dt-neutral-link: #fff;

  /* Warning Color Variables */
  --dt-on-warning-container: #2f1400;
  --dt-warning-container-icon: #2f1400;
  --dt-warning-container-link: #2f1400;
  --dt-warning: #ef9800;
  --dt-warning-action: #2f1400;
  --dt-warning-action-stateful: #2f1400;
  --dt-warning-outline: #2f1400;
  --dt-warning-action-state-layer: #2f1400;
  --dt-warning-container: #ffe07c;
  --dt-on-warning: #1f1f1f;
  --dt-warning-icon: #1f1f1f;
  --dt-warning-link: #1f1f1f;

  /* Error Color Variables */
  --dt-on-error-container: #410e0b;
  --dt-error-container-icon: #410e0b;
  --dt-error-container-link: #410e0b;
  --dt-error: #b3261e;
  --dt-error-action: #b3261e;
  --dt-error-action-stateful: #b3261e;
  --dt-error-outline: #b3261e;
  --dt-error-action-state-layer: #b3261e;
  --dt-error-container: #f9dedc;
  --dt-on-error: #fff;
  --dt-error-icon: #fff;
  --dt-error-link: #fff;

  /* MIME Type Color Variables */
  --dt-mime-type-blue: #4285f4;
  --dt-mime-type-dark-blue: #4d5dba;
  --dt-mime-type-green: #34a853;
  --dt-mime-type-grey: #5f6368;
  --dt-mime-type-purple: #a142f4;
  --dt-mime-type-deep-purple: #673ab7;
  --dt-mime-type-red: #ea4335;
  --dt-mime-type-yellow: #fbbc04;
  --dt-mime-type-gemini-blue: #3186ff;

  /* Disabled and Outline Variables */
  --dt-disabled: rgba(31,31,31,0.12);
  --dt-on-disabled: rgba(31,31,31,0.38);
  --dt-outline: #747775;
  --dt-outline-variant: #c7c7c7;

  /* Banner Button Color Variables */
  --dt-light-info-banner-button: #0842a0;
  --dt-light-neutral-banner-button: #474747;
  --dt-light-success-banner-button: #0f5223;
  --dt-light-warning-banner-button: #6d3a01;
  --dt-light-error-banner-button: #8c1d18;

  /* Fill/Outline/Tonal Color Variables */
  --dt-blue-fill: #1157ce;
  --dt-blue-outline: #d0e4ff;
  --dt-blue-tonal: #d0e4ff;
  --dt-gray-fill: #5e5e5e;
  --dt-gray-outline: #e3e3e3;
  --dt-gray-tonal: #e3e3e3;
  --dt-green-fill: #006c35;
  --dt-green-outline: #beefbb;
  --dt-green-tonal: #beefbb;
  --dt-on-blue-fill: #fff;
  --dt-on-blue-outline: #1157ce;
  --dt-on-blue-tonal: #1157ce;
  --dt-on-gray-fill: #fff;
  --dt-on-gray-outline: #5e5e5e;
  --dt-on-gray-tonal: #5e5e5e;
  --dt-on-green-fill: #fff;
  --dt-on-green-outline: #006c35;
  --dt-on-green-tonal: #006c35;
  --dt-on-orange-fill: #522302;
  --dt-on-orange-outline: #522302;
  --dt-on-orange-tonal: #522302;
  --dt-on-purple-fill: #fff;
  --dt-on-purple-outline: #7438d2;
  --dt-on-purple-tonal: #7438d2;
  --dt-on-red-fill: #fff;
  --dt-on-red-outline: #b3251e;
  --dt-on-red-tonal: #b3251e;
  --dt-on-yellow-fill: #6d3a01;
  --dt-on-yellow-outline: #6d3a01;
  --dt-on-yellow-tonal: #6d3a01;
  --dt-orange-fill: #ff8d41;
  --dt-orange-outline: #ffdcc3;
  --dt-orange-tonal: #ffdcc3;
  --dt-pink-fill: #b60d6e;
  --dt-pink-outline: #ffd8ef;
  --dt-pink-tonal: #ffd8ef;
  --dt-purple-fill: #7438d2;
  --dt-purple-outline: #eedcfe;
  --dt-purple-tonal: #eedcfe;
  --dt-red-fill: #b3251e;
  --dt-red-outline: #ffdadc;
  --dt-red-tonal: #ffdadc;
  --dt-yellow-fill: #fcbd00;
  --dt-yellow-outline: #ffe07c;
  --dt-yellow-tonal: #ffe07c;

  /* Material Design 3 (GM3) Color System Variables */
  --gm3-sys-color-background: #fff;
  --gm3-sys-color-background-rgb: 255,255,255;
  --gm3-sys-color-error: #b3261e;
  --gm3-sys-color-error-rgb: 179,38,30;
  --gm3-sys-color-error-container: #f9dedc;
  --gm3-sys-color-error-container-rgb: 249,222,220;
  --gm3-sys-color-inverse-on-surface: #f2f2f2;
  --gm3-sys-color-inverse-on-surface-rgb: 242,242,242;
  --gm3-sys-color-inverse-primary: #a8c7fa;
  --gm3-sys-color-inverse-primary-rgb: 168,199,250;
  --gm3-sys-color-inverse-surface: #303030;
  --gm3-sys-color-inverse-surface-rgb: 48,48,48;
  --gm3-sys-color-on-background: #1f1f1f;
  --gm3-sys-color-on-background-rgb: 31,31,31;
  --gm3-sys-color-on-error: #fff;
  --gm3-sys-color-on-error-rgb: 255,255,255;
  --gm3-sys-color-on-error-container: #410e0b;
  --gm3-sys-color-on-error-container-rgb: 65,14,11;
  --gm3-sys-color-on-primary: #fff;
  --gm3-sys-color-on-primary-rgb: 255,255,255;
  --gm3-sys-color-on-primary-container: #041e49;
  --gm3-sys-color-on-primary-container-rgb: 4,30,73;
  --gm3-sys-color-on-primary-fixed: #041e49;
  --gm3-sys-color-on-primary-fixed-rgb: 4,30,73;
  --gm3-sys-color-on-primary-fixed-variant: #0842a0;
  --gm3-sys-color-on-primary-fixed-variant-rgb: 8,66,160;
  --gm3-sys-color-on-secondary: #fff;
  --gm3-sys-color-on-secondary-rgb: 255,255,255;
  --gm3-sys-color-on-secondary-container: #001d35;
  --gm3-sys-color-on-secondary-container-rgb: 0,29,53;
  --gm3-sys-color-on-secondary-fixed: #001d35;
  --gm3-sys-color-on-secondary-fixed-rgb: 0,29,53;
  --gm3-sys-color-on-secondary-fixed-variant: #004a77;
  --gm3-sys-color-on-secondary-fixed-variant-rgb: 0,74,119;
  --gm3-sys-color-on-surface: #1f1f1f;
  --gm3-sys-color-on-surface-rgb: 31,31,31;
  --gm3-sys-color-on-surface-variant: #444746;
  --gm3-sys-color-on-surface-variant-rgb: 68,71,70;
  --gm3-sys-color-on-tertiary: #fff;
  --gm3-sys-color-on-tertiary-rgb: 255,255,255;
  --gm3-sys-color-on-tertiary-container: #072711;
  --gm3-sys-color-on-tertiary-container-rgb: 7,39,17;
  --gm3-sys-color-on-tertiary-fixed: #072711;
  --gm3-sys-color-on-tertiary-fixed-rgb: 7,39,17;
  --gm3-sys-color-on-tertiary-fixed-variant: #0f5223;
  --gm3-sys-color-on-tertiary-fixed-variant-rgb: 15,82,35;
  --gm3-sys-color-outline: #747775;
  --gm3-sys-color-outline-rgb: 116,119,117;
  --gm3-sys-color-outline-variant: #c4c7c5;
  --gm3-sys-color-outline-variant-rgb: 196,199,197;
  --gm3-sys-color-primary: #0b57d0;
  --gm3-sys-color-primary-rgb: 11,87,208;
  --gm3-sys-color-primary-container: #d3e3fd;
  --gm3-sys-color-primary-container-rgb: 211,227,253;
  --gm3-sys-color-primary-fixed: #d3e3fd;
  --gm3-sys-color-primary-fixed-rgb: 211,227,253;
  --gm3-sys-color-primary-fixed-dim: #a8c7fa;
  --gm3-sys-color-primary-fixed-dim-rgb: 168,199,250;
  --gm3-sys-color-scrim: #000;
  --gm3-sys-color-scrim-rgb: 0,0,0;
  --gm3-sys-color-secondary: #00639b;
  --gm3-sys-color-secondary-rgb: 255,255,255;
  --gm3-sys-color-secondary-container: #c2e7ff;
  --gm3-sys-color-secondary-container-rgb: 194,231,255;
  --gm3-sys-color-secondary-fixed: #c2e7ff;
  --gm3-sys-color-secondary-fixed-rgb: 194,231,255;
  --gm3-sys-color-secondary-fixed-dim: #7fcfff;
  --gm3-sys-color-secondary-fixed-dim-rgb: 127,207,255;
  --gm3-sys-color-shadow: #000;
  --gm3-sys-color-shadow-rgb: 0,0,0;
  --gm3-sys-color-surface: #fff;
  --gm3-sys-color-surface-rgb: 255,255,255;
  --gm3-sys-color-surface-bright: #fff;
  --gm3-sys-color-surface-bright-rgb: 255,255,255;
  --gm3-sys-color-surface-container: #f0f4f9;
  --gm3-sys-color-surface-container-rgb: 240,244,249;
  --gm3-sys-color-surface-container-high: #e9eef6;
  --gm3-sys-color-surface-container-high-rgb: 233,238,246;
  --gm3-sys-color-surface-container-highest: #dde3ea;
  --gm3-sys-color-surface-container-highest-rgb: 221,227,234;
  --gm3-sys-color-surface-container-low: #f8fafd;
  --gm3-sys-color-surface-container-low-rgb: 248,250,253;
  --gm3-sys-color-surface-container-lowest: #fff;
  --gm3-sys-color-surface-container-lowest-rgb: 255,255,255;
  --gm3-sys-color-surface-dim: #d3dbe5;
  --gm3-sys-color-surface-dim-rgb: 211,219,229;
  --gm3-sys-color-surface-tint: #6991d6;
  --gm3-sys-color-surface-tint-rgb: 105,145,214;
  --gm3-sys-color-surface-variant: #e1e3e1;
  --gm3-sys-color-surface-variant-rgb: 225,227,225;
  --gm3-sys-color-tertiary: #146c2e;
  --gm3-sys-color-tertiary-rgb: 20,108,46;
  --gm3-sys-color-tertiary-container: #c4eed0;
  --gm3-sys-color-tertiary-container-rgb: 196,238,208;
  --gm3-sys-color-tertiary-fixed: #c4eed0;
  --gm3-sys-color-tertiary-fixed-rgb: 196,238,208;
  --gm3-sys-color-tertiary-fixed-dim: #6dd58c;
  --gm3-sys-color-tertiary-fixed-dim-rgb: 109,213,140;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f9fa;
  user-select: none;
  font: var(--dt-body-medium-font,400 .875rem/1.25rem "Roboto"),"Google Sans",Roboto,Arial,sans-serif;
  letter-spacing: var(--dt-body-medium-spacing,.0142857143em);
  -webkit-font-smoothing: antialiased;
  color: var(--dt-on-background,rgb(60,64,67));
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f8f9fa;
}

/* Ensure the page itself never shows scrollbars to avoid flicker during view changes */
html, body {
  height: 100%;
  overflow: hidden;
  background-color: #f8f9fa;
}

/* Hide scrollbars globally on body (cross-browser), scrolling happens in app containers */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}